<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Adobe</string>
	<key>subtitle</key>
	<string>All Adobe Creative Cloud Applications</string>
	<key>taskIcon</key>
	<string>https://appinstallers-packages.services.jamfcloud.com/icons/001.png</string>
	<key>installs</key>
	<array>
		<dict>
			<key>title</key>
			<string>Adobe Acrobat DC</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/029.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Acrobat DC/Adobe Acrobat.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe After Effects</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5E8.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe After Effects &apos;*&apos;/Adobe After Effects &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Animate</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5EB.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Animate 2024/Adobe Animate 2024.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Audition</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5E6.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Audition &apos;*&apos;/Adobe Audition &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Bridge</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5C5.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Bridge &apos;*&apos;/Adobe Bridge &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Character Animator</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5E9.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Character Animator &apos;*&apos;/Adobe Character Animator &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Creative Cloud</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/001.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Utilities/Adobe Creative Cloud/ACC/Creative Cloud.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Dimension</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/08A.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Dimension/Adobe Dimension.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Dreamweaver</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/2CE.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Dreamweaver 2021/Adobe Dreamweaver 2021.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Illustrator</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5EC.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Illustrator &apos;*&apos;/Adobe Illustrator.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe InCopy</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5EA.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe InCopy &apos;*&apos;/Adobe InCopy &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe InDesign</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5E5.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe InDesign &apos;*&apos;/Adobe InDesign &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Lightroom CC</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/08B.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Lightroom CC/Adobe Lightroom.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Lightroom Classic</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/027.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Lightroom Classic/Adobe Lightroom Classic.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Media Encoder</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5E7.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Media Encoder &apos;*&apos;/Adobe Media Encoder &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Photoshop</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5C4.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Photoshop &apos;*&apos;/Adobe Photoshop &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Premiere Pro</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/5E4.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Premiere Pro &apos;*&apos;/Adobe Premiere Pro &apos;*&apos;.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Premiere Rush</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/4D3.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Premiere Rush 2.0/Adobe Premiere Rush.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Substance 3D Designer</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/399.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Substance 3D Designer/Adobe Substance 3D Designer.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Substance 3D Painter</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/39B.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Substance 3D Painter/Adobe Substance 3D Painter.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Substance 3D Sampler</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/39A.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Substance 3D Sampler/Adobe Substance 3D Sampler.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe Substance 3D Stager</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/39C.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe Substance 3D Stager/Adobe Substance 3D Stager.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Adobe XD</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>jac</string>
			<key>icon</key>
			<string>https://appinstallers-packages.services.jamfcloud.com/icons/088.png</string>
			<key>successtype</key>
			<string>teamid</string>
			<key>successtest</key>
			<string>/Applications/Adobe XD/Adobe XD.app</string>
			<key>successteam</key>
			<string>JQ525L2MZD</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
	</array>
</dict>
</plist>
