<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Apple Applications</string>
	<key>subtitle</key>
	<string>GarageBand - iMovie - Keynote - Numbers - Pages</string>
	<key>taskIcon</key>
	<string>SF=apple.logo</string>
	<key>installs</key>
	<array>
		<dict>
			<key>title</key>
			<string>GarageBand</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>mas</string>
			<key>icon</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/17/86/e5/1786e59d-56d8-4090-15e9-68e5e68114b9/AppIcon-85-220-4-2x.png/512x0w.png</string>
			<key>successtype</key>
			<string>appstore</string>
			<key>successtest</key>
			<string>/Applications/GarageBand.app</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>iMovie</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>mas</string>
			<key>icon</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/ec/c2/f1/ecc2f1d5-0aa8-749a-d186-ba7f8586f622/iMovieAppIcon-85-220-0-4-2x.png/512x0w.png</string>
			<key>successtype</key>
			<string>appstore</string>
			<key>successtest</key>
			<string>/Applications/iMovie.app</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Keynote</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>mas</string>
			<key>icon</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/fe/11/62/fe116278-7edf-8a88-1b25-e8c4ec9b498e/AppIcon-0-0-85-220-0-0-4-0-0-2x-0-0-0-0-0.png/512x0w.png</string>
			<key>successtype</key>
			<string>appstore</string>
			<key>successtest</key>
			<string>/Applications/Keynote.app</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Numbers</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>mas</string>
			<key>icon</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/c5/f7/f4/c5f7f493-2faa-c43a-c31d-0f939d942d6a/AppIcon-0-0-85-220-0-0-4-0-0-2x-0-0-0-0-0.png/512x0w.png</string>
			<key>successtype</key>
			<string>appstore</string>
			<key>successtest</key>
			<string>/Applications/Numbers.app</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pages</string>
			<key>subtitletype</key>
			<string>command</string>
			<key>commandtype</key>
			<string>mas</string>
			<key>icon</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/1a/9c/07/1a9c07d6-6b6f-5b7e-679b-d499c1fdfb44/AppIcon-0-0-85-220-0-0-4-0-0-2x-0-0-0-0-0.png/512x0w.png</string>
			<key>successtype</key>
			<string>appstore</string>
			<key>successtest</key>
			<string>/Applications/Pages.app</string>
			<key>backuptype</key>
			<string>none</string>
		</dict>
	</array>
</dict>
</plist>
